<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="60 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
<!--
        <encoder>
            <pattern>%d %p [%c] - &lt;%m&gt;%n</pattern>
        </encoder>
 -->
    </appender>
<!--
    <logger name="gov.nyc.doitt.gis.geoclient.service" level="INFO" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.test.util" level="debug" />
    <logger name="org.springframework.test.web" level="debug" />
    <logger name="org.springframework.web" level="debug" />
    <logger name="org.springframework.web.servlet.config" level="debug" />
-->

<!--
    <logger name="org.mockito.Mockito.*" level="debug" />
-->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>