<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="120 seconds">
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <pattern>%-54(%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0}) - %msg%n</pattern>
    </encoder>
  </appender>
    <appender name="gc-jni-buffer"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base:-.}/logs/gc-jni-buffer.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Rollover daily -->
      <fileNamePattern>gc-jni-buffer-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- Or whenever the file size reaches 100MB -->
        <maxFileSize>100MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
        <encoder>
            <!--
              The default setting for the immediate Flush encoder property is
              true. This can impact performance impact when there is
              "significantly increased logging throughput". Adjust as desired...
            -->
            <immediateFlush>false</immediateFlush>
            <pattern>%-36(%d [%thread]) - %m%n</pattern>
        </encoder>
    </appender>
    <!--
      TRACE-level logger for writing raw character buffers of unparsed
      Geosupport work area data to a file. By default, this logger's additivity
      is set to "false" thus preventing it from appearing in the standard
      "errors" log in addition to the file target configured above.

      The logger is only active when level is set to TRACE and lives in Class:
      gov.nyc.doitt.gis.geoclient.function.GeosupportFunction.
    -->
    <logger name="GC_JNI_BUFFER_LOGGER" level="INFO" additivity="true">
        <appender-ref ref="gc-jni-buffer" />
    </logger>
    <!--
    <logger name="gov.nyc.doitt.gis.geoclient" level="INFO" />
    <logger name="gov.nyc.doitt.gis.geoclient.parser" level="INFO" />
    <logger name="gov.nyc.doitt.gis.geoclient.service.search" level="INFO" />
    <logger name="gov.nyc.doitt.gis.geoclient.service.invoker" level="INFO" />
    <logger name="gov.nyc.doitt.gis.geoclient.function.GeosupportFunction" level="DEBUG" />
    <logger name="gov.nyc.doitt.gis.geoclient.config" level="DEBUG" />
    -->
    <logger name="org.springframework" level="INFO" />
    <logger name="gov.nyc.doitt.gis.geoclient" level="INFO" />
    <!-- Suppress Dozer warning about missing config file -->
    <logger name="org.dozer.config.GlobalSettings" level="ERROR" />

  <root level="WARN">
    <appender-ref ref="stdout" />
  </root>
</configuration>
