# Intellij
**/*.iml
**/*.ipr
**/*.iws
**/.idea
**/*.eml

# Eclipse
**/.classpath
**/.project
**/.settings/
**/.springBeans
**/bin/
**/.sts4-cache/

# VisualStudio
**/.vs
**/vs/
**/.vscode/

# Vim
**/*.swp

# Gradle & other common build artifacts
**/build
**/target
**/out
**/.gradle
**/classes
**/.gradletasknamecache

**/*.log

# Local native development artifacts
#**/geoclient-test
**/maven-repo

# User-specific stuff
**/.env
!images/.env
**/.local
**/notes
**/.DS_Store
**/temp
**/local-plugins
**/manifests/release