# Intellij
**/*.iml
**/*.ipr
**/*.iws
**/.idea
**/*.eml

# Eclipse
**/.classpath
**/.project
**/.settings/
**/bin/

# VisualStudio
**/.vs
**/vs/

# Vim
**/*.swp

# Gradle & other common build artifacts
**/build
**/target
**/out
**/.gradle
**/classes
**/.gradletasknamecache

**/*.log

# Local native development artifacts
**/geoclient-test

