<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="120 seconds">
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <pattern>%d %p [%c] - &lt;%m&gt;%n</pattern>
    </encoder>
  </appender>
  <appender name="gc-jni-buffer"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/gc-jni-buffer.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>gc-jni-buffer.%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- keep 7 days' worth of history -->
      <maxHistory>2</maxHistory>
    </rollingPolicy>
    <encoder>
      <!-- Uncomment to disable default setting if necessary. -->
      <!-- Can impact performance impact when there is -->
      <!-- "significantly increased logging throughput" -->
      <!-- <immediateFlush>false</immediateFlush> -->
      <pattern>%-32(%d [%thread]) - %m%n</pattern>
    </encoder>
  </appender>
    <!--
    <appender name="csv" class="ch.qos.logback.core.FileAppender">
        <file>fields.csv</file>
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>
    <logger name="gov.nyc.doitt.gis.geoclient.config.xml.FunctionToCsv" level="DEBUG">
        <appender-ref ref="csv" />
    </logger>
    -->
    <!-- <logger name="gov.nyc.doitt.gis.geoclient.function.WorkArea" level="DEBUG" /> -->
    <!-- <logger name="gov.nyc.doitt.gis.geoclient.cli" level="DEBUG" />-->
    <logger name="gov.nyc.doitt.gis.geoclient" level="DEBUG" />
    <logger name="com.thoughtworks.xstream" level="INFO" />
    <!-- <logger name="gov.nyc.doitt.gis.geoclient.config" level="DEBUG" /> -->
    <!--
    <logger name="GC_JNI_BUFFER_LOGGER" level="TRACE" additivity="false">
        <appender-ref ref="gc-jni-buffer" />
    </logger>
    -->
  <root level="ERROR">
    <appender-ref ref="stdout" />
  </root>
</configuration>
