<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Uncomment to have the FunctionToCsv class log to a file -->
    <!--
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>function-report.csv</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="gov.nyc.doitt.gis.geoclient.config.FunctionToCsv" level="INFO">
        <appender-ref ref="FILE" />
    </logger>
    -->
    <logger name="gov.nyc.doitt.gis.geoclient" level="INFO" />
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>